extends base.pug
include mixins/video

block content
   h2 Wellcome here you will see the trending videos
   
    each argument in videos 
        +video(argument)
    else
        li Sorry. Nothing found